<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Arquitectura MVC</title>
</head>
<body>
    <input id="name" placeholder="Nombre" type="text" autofocus>
    <div>
        <label for="birth">Fecha de Nacimiento</label>
        <input id="birth" type="date">
    </div>
    <button id="guardar">Guardar</button>
    <button id="saludar" hidden>Saludar</button>
    <button id="saber-edad" hidden>Saber Edad</button>
    <div id="resultado"></div>
</body>
</html>
<script type="module" src="../controller/controller.js"></script>
